.icon_manmade_fire { display: block; width: 32px !important; height: 32px !important; background: url(../images/icon_manmade_fire.png) no-repeat 50% 50%; background-size: 100% 100%; }
[data-zoom="0"] .leaflet-marker-icon,
[data-zoom="1"] .leaflet-marker-icon,
[data-zoom="2"] .leaflet-marker-icon,
[data-zoom="3"] .leaflet-marker-icon,
[data-zoom="4"] .leaflet-marker-icon,
[data-zoom="5"] .leaflet-marker-icon {
	width: 8px !important; height: 8px !important;
}
[data-zoom="6"] .leaflet-marker-icon,
[data-zoom="7"] .leaflet-marker-icon,
[data-zoom="8"] .leaflet-marker-icon {
	width: 16px !important; height: 16px !important;
}
[data-zoom="9"] .leaflet-marker-icon,
[data-zoom="10"] .leaflet-marker-icon,
[data-zoom="11"] .leaflet-marker-icon {
	width: 24px !important; height: 24px !important;
}
[data-zoom="12"] .leaflet-marker-icon,
[data-zoom="13"] .leaflet-marker-icon,
[data-zoom="14"] .leaflet-marker-icon,
[data-zoom="15"] .leaflet-marker-icon {
	width: 32px !important; height: 32px !important;
}
